@keyframes style_logo-bar__t0QsS {
    0% {
        transform: scaleY(0)
    }
}

@keyframes style_logo-diagonal__rAO2v {
    0% {
        transform: scaleX(0);
        opacity: 0
    }
}

@keyframes style_logo-letter__71IGe {
    0% {
        transform: translate(-8%) scale(.8);
        opacity: 0
    }
}

.style_logo__roZLU {
    display: block;
    width: calc(var(--base-spacing) * 20)
}

.style_animate__Uk32x {
    --animation-start: 0s
}

.style_animate__Uk32x * {
    animation-fill-mode: backwards
}

.style_bar__0dvzh,
.style_letter__rngSF {
    fill: var(--black)
}

.style_animate__Uk32x :is(.style_bar__0dvzh, .style_diagonal__xeO5j) {
    transform-box: fill-box
}

.style_animate__Uk32x .style_bar__0dvzh {
    transform-origin: 0 100%;
    animation-name: style_logo-bar__t0QsS;
    animation-duration: .8s;
    animation-timing-function: cubic-bezier(.65, .05, .35, 1.2)
}

.style_animate__Uk32x .style_bar__0dvzh:first-child {
    animation-delay: var(--animation-start)
}

.style_animate__Uk32x .style_bar__0dvzh:nth-child(2) {
    animation-delay: calc(var(--animation-start) + .1s)
}

.style_animate__Uk32x .style_bar__0dvzh:nth-child(3) {
    animation-delay: calc(var(--animation-start) + .2s)
}

.style_animate__Uk32x path {
    animation-duration: .5s;
    animation-delay: calc(var(--animation-start) + .8s)
}

.style_diagonal__xeO5j {
    fill: var(--light-gray-light-background)
}

.style_animate__Uk32x .style_diagonal__xeO5j {
    transform-origin: 50%;
    animation-name: style_logo-diagonal__rAO2v;
    animation-timing-function: cubic-bezier(.23, 1, .32, 1)
}

.style_animate__Uk32x .style_letter__rngSF {
    transform-origin: 0 50%;
    animation-name: style_logo-letter__71IGe;
    animation-timing-function: cubic-bezier(.23, 1, .32, 1.05)
}

.style_animate__Uk32x .style_letter__rngSF:nth-of-type(3) {
    animation-delay: calc(var(--animation-start) + .85s)
}

.style_animate__Uk32x .style_letter__rngSF:nth-of-type(4) {
    animation-delay: calc(var(--animation-start) + .9s)
}

.style_animate__Uk32x .style_letter__rngSF:nth-of-type(5) {
    animation-delay: calc(var(--animation-start) + .95s)
}

.style_animate__Uk32x .style_letter__rngSF:nth-of-type(6) {
    animation-delay: calc(var(--animation-start) + 1s)
}

.style_animate__Uk32x .style_letter__rngSF:nth-of-type(7) {
    animation-delay: calc(var(--animation-start) + 1.05s)
}

.style_icon__93SIQ {
    --size: calc(var(--base-spacing) * 4);
    width: var(--size);
    height: var(--size);
    display: inline
}

.style-dark_code__l_K1v * {
    color: var(--white)
}

.style-dark_code__l_K1v .hljs-keyword {
    color: var(--blue)
}

.style-dark_code__l_K1v .hljs-punctuation,
.style-dark_code__l_K1v .language-json .hljs-keyword {
    color: var(--light-gray-light-background)
}

.style-dark_code__l_K1v .hljs-number {
    color: var(--lime)
}

.style-dark_code__l_K1v .hljs-meta .hljs-string,
.style-dark_code__l_K1v .hljs-regexp,
.style-dark_code__l_K1v .hljs-string {
    color: var(--green)
}

.style-dark_code__l_K1v .hljs-mark {
    background-color: rgba(119, 239, 206, .2);
    padding: 2px;
    margin-left: -2px;
    margin-right: -2px;
    border-radius: 2px
}

.style-light_code__7_8jX * {
    color: var(--black)
}

.style-light_code__7_8jX .hljs-keyword {
    color: var(--gray)
}

.style-light_code__7_8jX .language-json .hljs-keyword {
    color: var(--black)
}

.style-light_code__7_8jX .hljs-punctuation {
    color: var(--blue)
}

.style-light_code__7_8jX .hljs-number {
    color: var(--green)
}

.style-light_code__7_8jX .hljs-meta .hljs-string,
.style-light_code__7_8jX .hljs-regexp,
.style-light_code__7_8jX .hljs-string {
    color: var(--blue)
}

.style-light_code__7_8jX .hljs-mark,
.style-light_code__7_8jX .hljs-mark * {
    background-color: var(--lime);
    color: var(--black)
}
style_logo__roZLU {display: none;}